
<div class="container py-5">
  <div class="row bg-light p-3 d-flex flex-column">
    <h5 class="mb-4 mr-3">投稿の編集</h5>
    <% if @post.errors.any? %>
      <div class="error_messages">
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>
      
      <p class="d-flex align-items-start">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, autofocus: true, style:"width:200px;" %>
      </p>
      <p class="d-flex align-items-start">
        <%= f.label :body, "エピソード" %>
        <%= f.text_area :body, style:"max-width:300px;" %>
      </p>

      <p class="d-flex flex-column">
        <%= f.label :image, "画像を選択してください" %>
        <%= f.file_field :image, accept: "image/*" %>
      </p>
        <%= f.submit "変更を保存する", class: "btn-primary mt-3", style: "border: 1px solid #007bff; border-radius: 4px;" %>
    <% end %>
  </div>
</div>