<!-- 投稿詳細
タイトル、画像、エピソード
いいねぼたん
他のユーザーからのコメント一覧
コメント投稿機能
投稿一覧に戻る
-->
<% if flash[:alert] %>
  <div class="bg-light alert alert-danger w-75">
    <%= flash[:alert] %>
  </div>
<% end %>
<div class="container py-5">
  
  <div class="red-border pt-3 mb-5 bg-light mx-auto", style= "max-width: 500px;">
    <% if @post.image.attached? %>
      <%= image_tag @post.image.representation(resize_to_fill: [300, 300]), class: "d-block mx-auto ml-3 picture" %>
      <!-- 画像のカラム名.variant(resize: "width x height")で表示するサイズを変更。image_processingを利用。cssがかからなくなるみたいなので未使用。 -->
    <% else %>
      <%= image_tag 'publicdomainq-0060457lwn.jpg', class: "d-block mx-auto sample-picture", width: 300, height: 300  %>
    <% end %>
    <h4 class="pl-3 mt-3">
      <i class="fa-solid fa-quote-left"></i>
      <%= @post.title %>
    </h4>
    <p class="pl-3 mt-4">
      <i class="fa-solid fa-file-lines"></i>
      <%= @post.body %>
    <p>
    <% if current_user && @post.user_id == current_user.id %>
      <p>
        <%= link_to "編集する", edit_post_path(@post), class: "btn btn-primary ml-3" %>
      </p>
      <p>
        <%= link_to "削除する", post_path(@post), class: "btn btn-danger ml-3", method: :delete, data: {confirm: "削除します。本当によろしいですか？" }%>
        <!-- 日本語より先にパスを書いたらURLが表示されてしまった。current_user&&にしないとゲスト時nilエラー -->
      </p>
    <% end %>
    <!-- 別ユーザーの投稿に限りプロフィール表示 -->

    <% if current_user && @post.user_id != current_user.id %>
      <div class="post_user mt-3 pl-3">
        <p>
        <i class="fa-solid fa-note-sticky"></i>
        投稿者
        </p>
        <% if @post.user.profile_image.attached? %>
          <p><%= image_tag @post.user.profile_image.representation(resize_to_fill: [100, 100]), style: "border-radius: 50px;" %></p>
        <% else %>
          <p><%= image_tag 'no_image.jpg', size: "100x100", style: "border-radius: 50px;" %></p>
        <% end %>
        <p>
          <i class="fa-solid fa-user"></i>
          <%= link_to @post.user.name, user_path(@post.user_id) %>
        </p>
      </div>
    <% end %>

    <!--非同期通信でいいねを実行する
    流れとしては
    remote: trueで非同期通信にする
    変えたいもののid"$()"を選択し、変えたいテキスト"html()"や値"val()"を入力する。それをjsで実行する
    
    -->
    <div class="favorite">
      <p class="pl-3" id="favorite_btn_<%= @post.id %>">
        <%= render "public/favorites/btn", post: @post %>
        <!-- publicから指定しないとなぜか読み込んでくれない。謎すぎる -->
      </p>
    </div>
  </div>
    <div class="post-comment blue-border bg-light py-3 pl-3 mx-auto", style= "max-width: 500px;">
      <h4 class="mb-3">
        <i class="fa-regular fa-comments"></i>
        みんなのコメント
      </h4>
      <% if current_user %>
        <%= form_with model: @post_comment, url: post_post_comments_path(@post) do |f| %>
        
          <%= f.label :comment, "コメントしよう" %><br>
          <%= f.text_area :comment, style: "width: 300px; height: 100px;" %><br>
            <%= f.submit "投稿する" %>
        <% end %>
      <% else %>
          <p>ログインするとコメントができます。</p>
      <% end %>
    
    <% if @post_comments.present? %>
      <div class="post-comment-list mt-5">
        <% @post_comments.each do |comment| %>
          <div class="mt-5", style= "max-width: 300px;">
            <div class="post-user-profile">
              <% if comment.user.profile_image.attached? %>
                <%= image_tag comment.user.profile_image.representation(resize_to_fill: [80, 80]), style: "border-radius: 40px;" %>
              <% else %>
                <%= image_tag "no_image.jpg", size: "80x80", style: "border-radius: 40px;" %>
              <% end %>
              <p>
                <i class="fa-solid fa-user"></i>
                <%= link_to comment.user.name, user_path(comment.user.id) %>
              <p>
            </div>
            <div>
              <i class="fa-solid fa-comment"></i>
              <%= comment.comment %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>