<!--
カレントユーザーがお気に入りをした投稿の一覧を表示
必要なモデルはposts、favorites、users
user_idが一致したfavoritesから、post_idを抽出し、postsを呼び出したい
@favorites = current_user.posts.joins(:favorites)だとうまく取れなかった。
-->

<div class="container">
  <div class="row d-flex mx-auto">
    <% if @favorites.any? %>
      <% @favorites.each do |favorite| %>
        <div class="col-6 col-md-4 col-lg-3 mt-3">
          <div class="red-border bg-light my-4">
            <p>
              <%= image_tag fovorite.post.get_post_image(140,140), class:"picture p-2 d-block mx-auto" %>
            </p>
            <div class="px-3 pt-2">
              <p class="border-bottom border-primary">
                <i class="fa-solid fa-quote-left"></i>
                <%= link_to favorite.post.title, post_path(favorite.post.id) %>
              </p>
              <p class="border-bottom border-primary">
                <i class="fa-regular fa-calendar-days"></i>
                <%= favorite.post.created_at.strftime("%Y/%m/%d %H:%M") %>
              </p>
              <p id="favorite_btn_<%= favorite.post.id %>", class="pt-3">
                <%= render "public/favorites/btn", post: favorite.post %>
              <!-- publicから指定しないとなぜか読み込んでくれない。謎すぎる -->
              </p>
            </div>
          </div>
      <% end %>
    <% else %>
    <div style="min-height:60vh">
      <h5 class="bg-light black-border w-100 mx-auto">
        まだいいねをしていません。
      </h5>
    </div>
    <% end %>
  </div>
</div>
