<div class="container mt-5">
  <% if @users.exists? %>
    <% @users.each do |user| %>
      <div class="row">
        <div class="col-md-4 col-lg-2">
            <% if user.profile_image.attached? %>
              <%= image_tag user.profile_image, size: "100x100" %>
            <% else %>
              <%= image_tag 'no_image.jpg' %>
            <% end %>
            <p>
              <%= link_to user.name, user_path(user.id) %>
            </p>
        </div>
        <div class="col-md-8 col-lg-10 align-top">
          <i class="fa-solid fa-comment"></i>
          <%= user.introduction %>
        </div>
        <p id="follow_btn_<%= user.following_users.follower_id %>">
          <%= render "public/follows/btn", user: user %>
        </p>
      </div>
    <% end %>
  <% else %>
    <h3>まだだれもフォローしてません。</h3>
  <% end %>
</div>