<div class="container mt-5">
  <% if @users.exists? %>
    <% @users.each do |user| %>
      <div class="row">
        <div class="col-md-4 col-lg-2">
          <%= image_tag user.get_profile_image(100,100) %>
          <p>
            <%= link_to user.name, user_path(user.id) %>
          </p>
            <!-- userモデルで定義したフォロワー取得のメソッドを使用する フォロワーにフォローを返すためのコマンド -->
            <!-- 相手からのフォローを解除するコマンドは後で考える。-->
          <p id="follow_btn_<%= user.followers.followed_id %>">
            <%= render "public/follows/btn", user: user %>
          </p>
        </div>
        <div class="col-md-8 col-lg-10 align-top">
          <i class="fa-solid fa-comment"></i>
          <%= user.introduction %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div>
      <h5 class="bg-light black-border">
        まだフォローされていません。
      </h5>
    </div>
  <% end %>
</div>