<!-- ユーザー一覧の表示-->
<div class="container py-5">
  <% @users.each do |user| %>
    <div class="row pt-3 brown-border mb-4 bg-light mx-auto" style="max-width: 500px;">
      <div class="pl-3", style="width: 170px;">
          <% if user.profile_image.attached? %>
            <%= image_tag user.profile_image, size: "100x100", style: "object-fit: cover;" %>
          <% else %>
            <%= image_tag 'no_image.jpg', size: "100x100" %>
          <% end %>
          <p>
            <i class="fa-solid fa-user"></i>
            <%= link_to user.name, user_path(user.id) %>
          </p>
            <p id="follow_btn_<%= user.id %>">
              <%= render "public/follows/btn", user: user %>
            </p>
      </div>
      <div class="align-top pl-3">
          <i class="fa-solid fa-comment"></i>
          <%= user.introduction.to_s.truncate(50, omission: '...') %>
          <!-- 未入力の場合にtruncateをするとエラーが起きるので回避。50文字を超えた場合に...を表示 -->
      </div>
    </div>
  <% end %>
</div>
