<!-- 使用インスタンス変数：@user=current_user、@post=@user.posts -->

<div class="user_profile">
<!-- １．ゆーざーのアイコン -->
  <div class="row">
    <% if @user.profile_image.attached? %>
      <%= image_tag @user.profile_image, size: "100x100" %>
    <% else %>
      <%= image_tag 'no_image', size: "100x100" %>
    <% end %>
    <%= link_to "プロフィールを編集する", my_page_edit_path(current_user.id.to_s) %>
  </div>
  <!-- ２．ユーザーの名前 -->
  <%= @user.name %>
  <!-- ３．ユーザーの自己紹介 -->
  <%= @user.introduction %>
  <!-- ５．そのユーザーがいいねをした投稿のページへの移動 -->
  <%= link_to "いいね一覧を表示", user_favorites_path(@user.id) %>
  <!-- ６．ユーザーの公開・非公開 表示される文字をis_public? ?で変更する -->
  <p>公開設定</p>
  <%= @user.is_public? ? "公開" : "非公開" %>
  <%= link_to @user.is_public? ? "非公開にする" : "公開にする", my_page_public_status_path,  method: :patch %>

</div>
<!-- ４．ユーザーの投稿一覧⇒各投稿への移動 -->
<div class="user_posts">
  <% @user.posts.each do |post| %> <!-- userのidが紐づいた投稿の表示 -->
    <div class="user_post_card">
      <%= post.image %>
      <%= post.title %>
    </div>
  <% end %>
</div>


