<!-- 使用インスタンス変数：@user=current_user、@post=@user.posts -->

<div class="user_profile container py-5">
<!-- １．ゆーざーのアイコン -->
  <div class="row">
    <div class="brown-border bg-light p-3 mx-auto">
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image, size: "150x150", class: "d-block mx-auto", style: "object-fit: cover; border-radius: 75px;" %>
      <% else %>
        <%= image_tag 'no_image.jpg', size: "150x150", class: "d-block mx-auto", style: "object-fit: cover; border-radius: 75px;" %>
      <% end %>
      <h4 class="my-3">
        <i class="fa-solid fa-user"></i>
        <%= @user.name %>
      </h4>
      <p class="mt-3">
        <i class="fa-solid fa-comment"></i>
        コメント
      </p>
      <p style="max-width: 260px;">
        <%= @user.introduction %>
      </p>
      <div class="profile_edit pt-3">
        <i class="fa-solid fa-user-pen"></i>
        <%= link_to "プロフィールを編集する", my_page_edit_path(current_user.id.to_s) %>
      </div>
    </div>

  </div>
  <div class="row d-flex flex-column">

      <!-- ３．ユーザーの自己紹介 -->

    <div class="bg-light red-border p-3 mt-4 mx-auto", style="width: 320px;">
      <!-- ５．そのユーザーがいいねをした投稿のページへの移動 -->
      <p class="mt-3">
        <i class="fa-solid fa-heart"></i>
        <%= link_to "いいね一覧を表示", my_favorites_path %>
      </p>
      <p class="mt-3">
        <i class="fa-solid fa-users-rectangle"></i>
        <%= link_to "フォローユーザー一覧を表示", user_followings_path(@user.id) %>
      </p>
      <!-- ６．ユーザーの公開・非公開 表示される文字をis_public? ?で変更する -->
      <p class="mt-4">
        <i class="fa-solid fa-user-lock"></i>
        プロフィール・投稿の公開設定
      </p>
      <%= @user.is_public? ?
        "公開":
        "非公開"
      %>
      <%= link_to @user.is_public? ? "非公開にする" :
       "公開にする", my_page_public_status_path,  method: :patch %>
    </div>
  </div>
</div>
<!-- ４．ユーザーの投稿一覧⇒各投稿への移動 -->
<h4 class="blue-border bg-light p-3 mb-5">自分の投稿一覧</h4>
<div class="user_posts row mt-5 d-flex">
    <% @posts.each do |post| %> <!-- userのidが紐づいた投稿の表示 -->
      <div class="col-lg-3 col-md-4 col-6 mb-5 black-border bg-light">
        <div class="user-post-card pt-4">
          <% if post.image.attached? %>
            <%= image_tag post.image, size: "180x180" , class: "picture d-block mx-auto" %>
          <% else %>
            <%= image_tag "publicdomainq-0060457lwn.jpg", size: "180x180", class: "sample-picture d-block mx-auto" %>
          <% end %>
          <div class="pl-3">
            <p class="pt-2 border-bottom border-primary">
              <i class="fa-solid fa-quote-left"></i>
              <%= link_to post.title, post_path(post.id) %>
            </p>
            <p class="border-bottom border-primary">
              <i class="fa-regular fa-calendar-days"></i>
              <%= post.created_at.strftime("%Y/%m/%d %H:%M") %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
</div>


