<div class="container py-5">
  <!-- １．ゆーざーのアイコン -->
  
    <div class="row">
    <% if @user.is_active == false %>
      <div style="height: 310px;">
        <p class="black-border bg-light mt-3">
          このユーザーはアカウントを削除しています。
        </p>
      </div>
    <% else %>
      <div class="brown-border bg-light p-2 mx-auto">
        <div>
          <%= image_tag @user.get_profile_image(150,150), class: "d-block mx-auto", style: "border-radius: 75px; object-fit: cover;" %>
          <h5 class="pt-2">
            <i class="fa-solid fa-user"></i>
            <%= @user.name %>
          </h5>
      <% if @user.is_public == true %>  
          <!-- ３．ユーザーの自己紹介 -->
            <div style="max-width: 260px;">
              <i class="fa-solid fa-comment"></i>
              <%= @user.introduction %>
            </div>
            <!-- ６．ユーザーの公開・非公開 表示される文字をis_public? ?で変更する -->
      <% end %>
        </div>
      <% if @user.is_public == true %>  
            <div>
              <p id="follow_btn_<%= @user.id %>">
                <%= render "public/follows/btn", user: @user %>
              </p>
            </div>
      <% end %>
      </div>
    </div>

    <% if @user.is_public == true %>
      <% if @posts.exists? %>
      <h4 class="blue-border bg-light p-3 my-5 text-center mx-auto", style="max-width:300px;">
        <%= @user.name %>の投稿一覧
      </h4>
        <div class="user_posts row mt-5 d-flex mx-auto",>
          <!-- ４．ユーザーの投稿一覧⇒各投稿への移動 -->
            <% @posts.each do |post| %> <!-- userのidが紐づいた投稿の表示 -->
              <div class="col-lg-3 col-md-4 col-6 mb-5 black-border bg-light">
                <div class="user-post-card pt-3">
                  <%= image_tag post.get_post_image(150,150), class: "picture d-block mx-auto"%>
                  <p class="pt-3">
                    <i class="fa-solid fa-bookmark"></i>
                    <%= link_to post.title, post_path(post.id) %> 
                  </p>
                  <p>
                    <i class="fa-regular fa-calendar-days"></i>
                    <%= post.created_at.strftime("%Y/%m/%d %H:%M") %>
                  </p>
                </div>
              </div>
            <% end %>
            </div>
            <% if @posts.total_pages > 1 %>
              <div class="pagination black-border bg-light pb-3 ">
                <%= paginate @posts %>
              </div>
            <% end %>
          <% else %>
            <div class="user_posts mt-5 d-flex justify-content-center mx-auto">
              <p class="black-border bg-light">
                このユーザーの投稿はありません。
              </p>
            </div>
          <% end %>
    <% else %>
        <div class="black-border bg-light w-50 mx-auto mt-5">
          このユーザーは非公開に設定しています。
        </div>
    <% end %>
    </div>
    <% end %>
  </div>
  
</div>