<div class="container mt-5">
  <!-- １．ゆーざーのアイコン -->
  <div class="row">
    <div class="col-md-4 col-lg-2">
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image.variant(resize: "200x200") %>
      <% else %>
        <%= image_tag 'no_image.jpg' %>
      <% end %>
      <h5>
        <%= @user.name %>
      </h5>
    </div>
      <% if @user.is_public == true %>
        <div class="user-follow col-md-8 col-lg-10 ">
        <p id="follow_btn_<%= @user.id %>">
          <%= render "public/follows/btn", user: @user %>
        </p>
        </div>
      <% end %>
  </div>
  <% if @user.is_public == true %>

    <div class="row d-flex flex-column pl-3">   
      <!-- ３．ユーザーの自己紹介 -->
      <div>
        <i class="fa-solid fa-comment"></i>
        <%= @user.introduction %>
      </div>
        <!-- ６．ユーザーの公開・非公開 表示される文字をis_public? ?で変更する -->
    </div>

    <div class="user_posts row pl-3">
        <!-- ４．ユーザーの投稿一覧⇒各投稿への移動 -->
          <% @posts.each do |post| %> <!-- userのidが紐づいた投稿の表示 -->
            <div class="user_post_card mt-3">
            <% if post.image.attached? %>
              <%= image_tag post.image.variant(resize: "150x150") %>
            <% else %>
              <%= image_tag "no_image.jpg", size: "150x150" %>
              <%= link_to post.title, post_path(post.id) %>
            <% end %>
            </div>
          <% end %>
  <% else %>
      <p class="mt-3">
        このユーザーは非公開に設定しています。
      </p>
  <% end %>
    </div>
  </div>
</div>