<!DOCTYPE html>
<html>
  <head>
    <title>mementos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- FontAwesomeが使えるようにする -->
    <script src="https://kit.fontawesome.com/a31255e7a3.js" crossorigin="anonymous"></script>
    <!-- CSSやjavascriptのファイルの管理方法および場所 pack_tagはCSSをWebpackerで管理する際に利用 場所はapp/javascript/packs/stylesheets-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>

  <body>
  <header class="bg-dark mb-0">
  <!-- ヘッダーはトップ、ユーザー一覧、ログイン、ユーザー登録、マイページ、新規投稿、ログアウト -->
    <nav class="navbar navbar-expand-lg text-white navbar-dark p-3">
        <h3 class="logo col-lg-2 ml-auto vertical-line-middle">
          <%= link_to "mementos", top_path %>
        </h3>
        <!-- 検索窓　投稿をtitle,bodyまたは両方で検索 form_withのデフォアクションがPostなのでgetを指定 -->
          <%= form_with url: search_index_path, method: :get, local: true do |search| %>
            <div class="form-box">
              <%= search.text_field :query, placeholder: "キーワードを入力" %>
              <!-- radio_buttonの値（search_in)に各カラムを渡す。条件式で利用 -->
              <div class="radio-button"> 
                <%= search.radio_button :search_in, "title" %>タイトルのみ
                <%= search.radio_button :search_in, "body" %>エピソードのみ
                <%= search.radio_button :search_in, "both", checked: true %>両方
              </div>
              <%= search.submit "検索" %>
            </div>
          <% end %>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <!--縦並びにすると下コンテンツに重なってしまうため、ハンバーガーメニューで誤魔化す-->
          <ul class="list-unstyled  ml-auto navbar-nav">
          <!-- ログインしているかチェック 変数は不要で、deviseヘルパーメソッドで済む -->
            <% if user_signed_in? %>             
              <li class="nav-item pr-3">
                <i class="fa-solid fa-circle-user"></i>
                <%= link_to "マイページ", my_page_path %>
              </li>
              <li class="nav-item pr-3">
                <i class="fa-solid fa-file-pen"></i>
                <%= link_to "新規投稿", new_post_path %>
              </li>
            <% end %>
              <li class="nav-item">
                <i class="fa-solid fa-circle-info"></i>
                <%= link_to "サイト案内", about_path %>
              </li>

              <li class="nav-item">
                <i class="fa-solid fa-book-open"></i>
                <%= link_to "投稿一覧", posts_path %>
              </li>
              <li class="nav-item">
                <i class="fa-solid fa-users"></i>
                <%= link_to "ユーザー一覧", users_path %>
              </li>
            <% if user_signed_in? %>
            <!-- deviseのルートを確認する -->
              <li class="nav-item">
                <i class="fa-solid fa-right-from-bracket"></i>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li class="nav-item">
                <i class="fa-solid fa-right-to-bracket"></i>
                <%= link_to "ログイン", new_user_session_path %>
              </li>
              <li class="nav-item">
                <i class="fa-solid fa-user-plus"></i>
                <%= link_to "ユーザー登録", new_user_registration_path %>
              </li>
            <% end %>
          </ul>
    </nav>
  </header>
  <div class="container-fluid", style="background-image: url('<%= asset_path('CorkBoard02.jpg') %>'); background-repeat: repeat;">
  <!-- cssで指定しても無理だったが、asset_pathで指定したらできるようになった。webpackerを使ってるとパスの指定がうまくいかないことがあるらしい。 -->
  <!-- assetsフォルダにimagesフォルダを作成し、imageファイルを入れておくとよさげ -->
    <div class="pl-3 bg-light flash-message">
      <%= flash[:notice] %><!-- 各種フラッシュメッセージ データ更新や作成時など -->
    </div>
    <div class="container", style="min-height: 100%; padding-bottom: 100px;">
      <%= yield %>
    </div>
  </div>
  <footer class="bg-dark text-white">
    <div class="w-100">
      <p class="ml-auto">
        <%= link_to "管理者画面へ", admin_top_path %>
      </p>
      <p class="text-center">
      ©mementos
      </p>
    </div>
  </footer>
  </body>
</html>
